@page "/hashtag/{tagName}"
@model Chirp.Web.Pages.HashtagModel
@using System
@{
    ViewData["Title"] = $"Chirp - {Model.TagName}";
    Layout = "Shared/_Layout";
}

<div class="hashtag-page">
    <h2>Hashtag: @Model.TagName</h2>

    @if (Model.Cheeps?.Any() == true)
    {
        <ul id="messagelist" class="cheeps">
            @{
                //this is a foreach loop component with the list of cheeps
                //can be seen or altered through src\Chirp.Web\Pages\Components\CheepList\default.cshtml
                ViewBag.BaseModel = Model;
             
                @await Component.InvokeAsync("CheepList", new { cheeps = Model.Cheeps })
            }
        </ul>
    }
    else
    {
    <em>There are no cheeps for this hashtag yet.</em>
    }
</div>