@page "/"
@model Chirp.Web.Pages.PublicModel
@using System
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
}

<div>
    <h2> Public Timeline </h2>

    @if (User.Identity is not null && User.Identity.IsAuthenticated)
    {
        @if((TempData["CheepTooShort"] as string) == "true")
        {
            <div class="alert alert-warning" role="alert">
                Your cheep is too short!
            </div>
        }
        <div class="cheepbox">
                <h3>What's on your mind @(User.Identity.Name)?</h3>
                <form class="share-cheep" method="post">
                        <textarea type="text" asp-for="NewCheep.Message" required></textarea>
                        <input type="submit" value="Share">
                </form>
        </div>
    }

    <!-- start cheep loop -->
    @if (Model.DisplayedCheeps.Any())
    {
        <ul id="messagelist" class="cheeps">
            @{
                ViewBag.BaseModel = Model;
             
                @await Component.InvokeAsync("CheepList", new { cheeps = Model.DisplayedCheeps })
            }
        </ul>
    }
    else
    {
        <em>There are no cheeps so far.</em>
    }

    @await Component.InvokeAsync("Pagination")
</div>

@await Component.InvokeAsync("FollowNotification")