@page "/"
@model Chirp.Web.Pages.PublicModel
@using System
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
}

<div>
    <h2> Public Timeline </h2>

    @if (User.Identity is not null && User.Identity.IsAuthenticated)
    {
        // This is the form to post cheeps
        // See the WriteCheepForm component for more details
        @await Component.InvokeAsync("WriteCheepForm", new { newCheep = Model.NewCheep })
    }

    @*start cheep loop*@
    @if (Model.DisplayedCheeps.Any())
    {
        <ul id="messagelist" class="cheeps">
            @{
                // this is a foreach loop component with the list of cheeps
                // It's used for displaying the cheeps on the webpage
                // See the CheepList component for more details
                ViewBag.BaseModel = Model;
             
                @await Component.InvokeAsync("CheepList", new { cheeps = Model.DisplayedCheeps })
            }
        </ul>
    }
    else
    {
        <em>There are no cheeps so far.</em>
    }
    
    @*
    Pagination
    See the Pagination component for more details
    *@
    @await Component.InvokeAsync("Pagination")
</div>

@*
follow notification popup
See the FollowNotification component for more details
*@
@await Component.InvokeAsync("FollowNotification")