@page "/{author}"
@model Chirp.Web.Pages.UserTimelineModel
@using System
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
    var routeName = HttpContext.GetRouteValue("author");
    ViewData["RouteName"] = routeName;
}

<div>
    @if((ViewData["UserExists"] as string) == "true")
    {
        <h2> @routeName's Timeline </h2>

        @if (User.Identity is not null && User.Identity.IsAuthenticated)
        { 
            <div class="cheepbox">
                    <h3>What's on your mind @(User.Identity.Name)?</h3>
                    <form class="share-cheep" method="post">
                            <textarea type="text" asp-for="NewCheep.Message" required></textarea>
                            <input type="submit" value="Share">
                    </form>
            </div>
        }

        @*start cheep loop*@
        @if (Model.Cheeps?.Any() == true)
        {
            <ul id="messagelist" class="cheeps">
                @{
                // this is a foreach loop component with the list of cheeps
                // It's used for displaying the cheeps on the webpage
                // The component can be altered if needed
                // See the CheepList component for more details
                    ViewBag.BaseModel = Model;
                
                    @await Component.InvokeAsync("CheepList", new { cheeps = Model.Cheeps })
                }
            </ul>
        }
        else
        {
            <em>There are no cheeps so far.</em>
        }

        @*
        Pagination
        The component can be altered if needed
        See the Pagination component for more details
        *@
        @await Component.InvokeAsync("Pagination", ViewData["Author"])
    }
    else 
    {
        <h2> User @routeName does not exist </h2>
        <a href="/"> Go back to the home page </a>
    } 
</div>

@*
follow notification popup
The component can be altered if needed
See the FollowNotification component for more details
*@
@await Component.InvokeAsync("FollowNotification")