@page "/{i:int}"
@model Chirp.Razor.Pages.PublicModel
@using System
@using SimpleDB
@{

    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";


    int currentPage;
    if (int.TryParse(Request.Query["page"], out currentPage))
    {
    }
    else
    {
        currentPage = 1; // Default value or handle the error accordingly
    }
    int prevPage = Math.Max(currentPage - 1, 1);
    int nextPage = Math.Min(currentPage + 1, 100);
}

<div>
    <h2> Public Timeline </h2>

    @if (Model.Cheeps.Any())
    {
        <ul id="messagelist" class="cheeps">
            @foreach (var cheep in Model.Cheeps)
            {
                <li>
                    <p>
                        <strong>
                            <a href="/@cheep.Author">@cheep.Author</a>
                        </strong>
                        @cheep.Message
                        <small>&mdash; @cheep.Timestamp</small>
                    </p>
                </li>
            }
        </ul>
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li>
                    <a href="/?page=@prevPage" aria-label="Prev">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                @for (int i = 1; i <= i+10; i++)
                {
                    <li>
                        <a href="/?page=@i">@i</a>
                    </li>
                }
                <li>
                    <a href="/page=@nextPage" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    }
    else
    {
        <em>There are no cheeps so far.</em>
    }
</div>
